<div *ngIf="vm$ | async as componentData" class="container mt-4">
  <div class="row">
    <div class="col-12">
      <form class="mb-4">
        <h4>Add Invoice</h4>
        <div class="form-row">
          <div class="col">
            <input  type="text" class="form-control" placeholder="Invoice Code" name="invoiceCode">
          </div>
          <div class="col">
            <input type="number" class="form-control" placeholder="Supplier ID" name="supplierId">
          </div>
          <div class="col">
            <input type="number" class="form-control" placeholder="Total Amount" name="totalAmount">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary" [disabled]="componentData.inDeleteMode" (click)="addInvoice()">Add Invoice</button>
          </div>
        </div>
      </form>
      
      <div class="mb-3">
        <input #searchField type="text" class="form-control" placeholder="Search Invoices" (keyup)="doSearch(searchField.value)">
      </div>
      
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Invoice Code</th>
            <th>Supplier ID</th>
            <th>Total Amount</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of componentData.invoices">
            <td>{{ invoice.id }}</td>
            <td>{{ invoice.invoice_code }}</td>
            <td>{{ invoice.supplier_id }}</td>
            <td>{{ invoice.total_amount }}</td>
            <td>
              <button class="btn btn-danger" [disabled]="componentData.inDeleteMode" (click)="deleteInvoice(invoice.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
